<div>
  <form (ngSubmit)="calculatePayslip()" #employeeDetails="ngForm">
      <div class="row">
          <div class="col-sm-12">
              <h5 class="text-info text-center">Fill the form to calculate tax using 2017-18 rates</h5>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" class="form-control" [(ngModel)]="model.firstName" #firstname="ngModel" placeholder="First name" required>
                <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger"> Firstname is required</div>
              </div>
              <div class="form-group">
                  <label for="lastname">Last name</label>
                  <input type="text" name="lastname" class="form-control" [(ngModel)]="model.lastName" placeholder="Last name">
              </div>
              <div class="form-group">
                <label for="annualsalary">Annual salary</label>
                <input type="number" name="annualsalary" class="form-control" min="0" [(ngModel)]="model.annualSalary" #annualsalary="ngModel" placeholder="Annual salary" required>
                <div [hidden]="annualsalary.valid || annualsalary.pristine" class="alert alert-danger">Annual salary is required</div>
              </div>
              <div class="form-group">
                  <label for="superrate">Super rate</label>
                  <input type="number" name="superrate" class="form-control" min="0" max="12" [(ngModel)]="model.superRate" (keyup)="superRateChanged($event)" placeholder="Super rate">
              </div>
              <div class="form-group">
                  <label for="paymentstartdate">Payment start date</label>
                  <input type="date" name="paymentstartdate" class="form-control" [(ngModel)]="model.paymentStartDate" #paymentstartdate="ngModel" placeholder="Payment start date" required>
                  <div [hidden]="paymentstartdate.valid || paymentstartdate.pristine" class="alert alert-danger">Payment start date is required</div>
              </div>
              <button type="button" class="btn btn-default" (click)="resetClicked(); employeeDetails.reset()">Reset</button>  
              <button type="submit" class="btn btn-primary float-right" [disabled]="!employeeDetails.form.valid">Calculate</button>
          </div>
      </div>
  </form> 
</div>