/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 56px;
}
  
@media (min-width: 992px) {
    body {
        padding-top: 58px;
    }
}

form {
    width: 70%;
    margin: 0% auto;    
}