<form id="payslip">
    <div class="form-group row">
      <h4 class="col-sm-12  text-center text-info">Employee Payslip for {{slip.payPeriod}} days</h4>
    </div>
    <div class="form-group row">
      <label for="employeename" class="col-sm-5 col-form-label">Name</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="employeename" value={{slip.name}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="from" class="col-sm-5 col-form-label">For the Period</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="from" value={{slip.date}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="payperiod" class="col-sm-5 col-form-label">Pay Period</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="payperiod" value={{slip.payPeriod}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="grossincome" class="col-sm-5 col-form-label">Gross Income</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="grossincome" value={{slip.grossIncome}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="incometax" class="col-sm-5 col-form-label">Income Tax</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="incometax" value={{slip.incomeTax}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="netincome" class="col-sm-5 col-form-label">Net Income</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="netincome" value={{slip.netIncome}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="superannuation" class="col-sm-5 col-form-label">Super Annuation</label>
      <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext font-weight-bold text-right" id="superannuation" value={{slip.superAnnuation}}>
      </div>
    </div>
    <div class="form-group row float-right">
      <a class="nav-link" [routerLink]="['./details']">Back to Details</a>
    </div>
</form>


